/*
 * Base structure
 */

html,
body {
    height: 100%;
    font-family: Roboto;
    background-size: cover;
    font-size: 17px;
    font-weight: lighter;
    line-height: 1.6em;
    color: #000;
}

body {
}
.m-80 {
    margin: 0 0 80px;
}
.m-t-40 {
    margin-top: 40px;
}
.m-t-60 {
    margin-top: 60px;
}
/*-------------[ Global: Navbar]-------------------*/

.tw-nav {
    border-bottom: 0px solid #12212F;
    background-color: rgba(255,255,255,.6);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.tw-nav .navbar-brand,
.tw-nav .navbar-brand:hover,
.tw-nav .navbar-brand:focus {
    color: #fff;
    padding: 5px 30px;
    font-size: 26px;
    height: 70px
}
.logo{
    height: 100%
}
.tw-nav .navbar-nav > li > a {
    padding: 25px;
    color: #000
}
.tw-nav .navbar-nav > li > a span.glyphicon {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px
}
.tw-nav .navbar-nav > li > a:hover,
.tw-nav .navbar-nav > li > a:focus,
.tw-nav .navbar-nav > .active > a,
.tw-nav .navbar-nav > .active > a:hover,
.tw-nav .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #a22;
}
.tw-nav .navbar-toggle {
    border-color: transparent;
}
.tw-nav .navbar-toggle:hover {
    background-color: transparent;
    border-color: #f5f5f5;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eee;
    border-color: #ddd !important;
}
.tw-nav .dropdown-menu {
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
}
.tw-nav .dropdown-menu li >a {
    padding: 10px 15px
}
/**/

.hero-bg {
    background-color: #D35400;
    background: url(../img/6.jpg);
    background-size: cover;
    border-bottom: solid 1px #eee;
    height: 650px;
}
.hero-content {
    position: absolute;
    top:100px;
    color: #fff;
    left: 50%;
    margin-left: -250px;
    text-align: center;

}
.hero-content h1 {
    font-size: 105px;
    display: block;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
    font-weight: lighter;
    padding-top: 70px;
}
.hero-content h1 strong {
    font-weight: 500
}
.hero-content .lead {
    font-size: 30px;
    color: #000;
    /*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);*/
}
.hero-content .lead.small {
    font-size: 20px;
    color: #000;
    /*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);*/
}
.act-btn {
    margin-top: 60px;
    color: #000;
    font-size: 25px;
    padding: 10px 40px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
}
.act-btn:hover {
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
}
/**/
.main-heading{
    margin: 50px 0 45px;
    font-size: 40px;
    font-weight: lighter;
    color: rgb(165,28,48);
    text-align: center;
}
.icon-grid {
    border: 0;
}
.icon-grid img{
    width: 128px;
    border-radius: 50%
}

footer{
    background-size: cover;
}
.overlay{
    padding: 20px 20px;
    background-color: #eee;
    border-top: solid 1px #ddd
}
.faqs .panel-title a:hover{
    text-decoration: none;
}






